<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel ="tests" thread-count="6">
	<listeners>
		<listener class-name ="testng.Listeners"/>
	</listeners>
	
  <test name="Personal Loan">
	<parameter name ="URL" value ="personalloan.com"/>
	
	<classes>
      <class name="testng.day1">
      	<methods>
			<include name = "Demo"/>
		</methods>	
	</class>
      <class name="testng.day2"/>
      <class name="testng.day4"/>
    </classes>
  </test>
  
  <test name = "carloan">
	<parameter name = "URL" value="carloanacademy.com"/>
	<parameter name ="APIKey/username" value ="123456"/>
	<classes>
		
		
		<class name = "testng.day3">
			
		<methods>
			<exclude name = "Api.*"/>
		</methods>
		</class>
	</classes>
  </test> 
</suite>
